body {
    background-color: #7081d8;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
}


.content-section {
    display: none;
}

.content-section.active {
    display: flex;
}

.borda-icon {
    position: relative;
    display: flex;
    gap: 20px;
    flex-direction: row;
    border: 28px solid #FFFFFF;
    border-radius: 20px;
    background-color: #FFFFFF;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, .212);
    transition: transform 0.3s ease-in-out, font-size 0.3s ease-in-out;
}

.icon-selecao {
    position: relative;
    display: inline-block;
    text-align: center;
    flex-direction: row;
    
}

.icon-selecao i{
    display: block;
    cursor: pointer;
    transition: transform 0.3s ease-in-out, font-size 0.3s ease-in-out;
}

.icon-selecao:hover i {
    font-size: 2rem;
}

.icon-selecao.active i {
    color: #778dfc;
    font-size: 2rem;
}

.icon-selecao p{
    position: absolute;   
    top: 100%;            
    left: 50%;            
    white-space: nowrap; 
    font-size: 0.71rem;
    pointer-events: none;
    opacity: 0;
    transform: translate(-50%, -10px); 
    transition: opacity 0.3s ease-in-out, transform 0.34s ease-in-out;
}

.icon-selecao:hover p,
.icon-selecao.active p {
    opacity: 1;
    transform: translate(-50%, 5px);
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px 0;
}

.form-group {
    width: 490px;
    height: 300px;
    padding: 20px 50px;
    display: flex;
    background-color: #FFFFFF;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, .212);
    border-radius: 20px;
    gap: 50px;
}

.form-foto {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.form-foto i {
    font-size: 7rem;
    color: #FFFFFF;
    background-color: #7c7c82;
    padding: 1.2rem;
    border-radius: 50%; 
}       

#image-preview-container {
    width: 150px;
    height: 150px;
    border: 2px dashed #ccc;
    border-radius: 50%; 
    display: flex; 
    justify-content: center;
    align-items: center;
    overflow: hidden; 
    background-color: #fff; 
    position: relative;
}

#image-preview-container img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Cobre todo o espaço do container */
    position: absolute; /* Agora a imagem se posiciona RELATIVAMENTE ao #image-preview-container */
    top: 0;
    left: 0;
}


.form-foto input[type="file"] {
    display: none;
    z-index: 1000;
}

.form-foto .botao-foto {
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.8rem;
    background-color: #778dfc;
    border: none;
    border-radius: 8px;
    color: #FFFFFF;
    font-size: 0.8rem;
    transition: background-color 0.3s ease;
}


.form-foto .botao-foto:hover {
    background-color: #5a6de0;
    cursor: pointer;
}

.form-foto .botao-foto:hover label {
    cursor: pointer;
}

.form-inputs {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 0;
}

.input-box {
    display: flex;
    flex-direction: column;
}

.input-box label {
     margin-top: 0.7rem;
     font-size: 0.9rem;
     font-weight: 400;
}

.input-box input {
    width: 200px;
    margin: 0.6rem 0;
    padding: 0.8rem 1.2rem;
    border: none;
    border-radius: 6px;
    box-shadow: 1px 1px 6px #0000001c;
}

.input-box input:hover{
    background-color: #eeeeee75;
}

.input-box input:focus-visible {
    outline: 1px solid #6c63ff;
}

.input-box input::placeholder {
    font-size: 0.8rem;
    font-weight: 200;
    color: #666363be;
}

.botao-cadastrar {
    width: 200px;
    display: flex;
    align-items: center;
}

.botao-cadastrar button {
    width: 100%;
    padding: 0.8rem;
    background-color: #778dfc;
    border: none;
    border-radius: 8px;
    color: #FFFFFF;
    font-size: 0.8rem;
    transition: background-color 0.3s ease;
}

.botao-cadastrar button:hover {
    background-color: #5a6de0;
    cursor: pointer;
}

.lista {
    width: 490px;
    padding: 20px 50px;
    height: 300px;
    background-color: #FFFFFF;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, .212);
    border-radius: 20px;
}

.lista table {
    width: 100%;
    border-collapse: collapse;
}

td, th {
    border-bottom: 1px solid #ddd;
    padding: 8px; /* É uma boa prática adicionar padding para espaçamento */
    text-align: left; /* Alinha o texto à esquerda por padrão */
}

.tabela-img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
}

table i {
    cursor: pointer;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    padding-top: 80px;
    left: 0;
    top: -30px;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.6);
}

.modal-content {
    background-color: #fff;
    margin: auto;
    padding: 30px;
    border-radius: 10px;
    width: 90%;
    max-width: 600px;
    position: relative;
    text-align: center;

    animation: fadeInModal 0.5s ease forwards;
}

.modal-content p {
    display: block;
    margin-top: 10px;
    font-size: 1.25rem;
    text-align: center;
}

.modal-content img {
    margin-bottom: 20px;
    display: block;
    margin: 0 auto;
    max-width: 100%;
    height: auto;
}

.modal-content h2 {
    font-weight: 500;
    font-size: 1.5rem;
    margin-top: 10px;
    color: var(--cor-primaria);
}

.close {
    position: absolute;
    top: 15px;
    right: 25px;
    color: #aaa;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.close:hover {
    color: black;
}

@keyframes fadeInModal {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}